/* style.css */

body, html {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main.container {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 1040;
}
#popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 900px;
  max-width: 90vw;
  max-height: 80vh;
  display: none;
  z-index: 1050;
}
#popup-window h1 {
  margin-bottom: 0.5rem;
}
#popup-window table {
  width: 100%;
}
#popup-window td {
  padding: 0.25rem 0.5rem;
}
tr[data-clickable="true"] {
  cursor: pointer;
}
tr[data-clickable="true"]:hover {
  background-color: #f8f9fa;
}
.me-6 {
  margin-right: 4rem;
}
.me-7 {
  margin-right: 5rem;
}
.bondsTable {
  table-layout: fixed;
  width: 100%;
}
.bondsTable th, .bondsTable td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bondsTable thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* gleiche Farbe wie .table-light */
  z-index: 2; /* sollte über dem normalen Inhalt liegen */
}
#bondsTable1 th:nth-child(1), #bondsTable1 td:nth-child(1) { width: 10%; }
#bondsTable1 th:nth-child(2), #bondsTable1 td:nth-child(2) { width: 45%; }
#bondsTable1 th:nth-child(3), #bondsTable1 td:nth-child(3) { width: 10%; }
#bondsTable1 th:nth-child(4), #bondsTable1 td:nth-child(4) { width: 10%; }
#bondsTable1 th:nth-child(5), #bondsTable1 td:nth-child(5) { width: 25%; }

#bondsTable2 th:nth-child(1), #bondsTable3 td:nth-child(1) { width: 10%; }
#bondsTable2 th:nth-child(2), #bondsTable3 td:nth-child(2) { width: 30%; }
#bondsTable2 th:nth-child(3), #bondsTable3 td:nth-child(3) { width: 15%; }
#bondsTable2 th:nth-child(4), #bondsTable3 td:nth-child(4) { width: 10%; }
#bondsTable2 th:nth-child(5), #bondsTable3 td:nth-child(5) { width: 15%; }
#bondsTable2 th:nth-child(6), #bondsTable3 td:nth-child(6) { width: 10%; }

#bondsTable3 th:nth-child(1), #bondsTable3 td:nth-child(1) { width: 10%; }
#bondsTable3 th:nth-child(2), #bondsTable3 td:nth-child(2) { width: 30%; }
#bondsTable3 th:nth-child(3), #bondsTable3 td:nth-child(3) { width: 20%; }
#bondsTable3 th:nth-child(4), #bondsTable3 td:nth-child(4) { width: 15%; }
#bondsTable3 th:nth-child(5), #bondsTable3 td:nth-child(5) { width: 15%; }
#bondsTable3 th:nth-child(6), #bondsTable3 td:nth-child(6) { width: 10%; }

#currencyTable th:nth-child(1), #currencyTable td:nth-child(1) { width: 60%; }
#currencyTable th:nth-child(2), #currencyTable td:nth-child(2) { width: 25%; }
#currencyTable th:nth-child(3), #currencyTable td:nth-child(3) { width: 15%; }

#userTable th:nth-child(1), #userTable td:nth-child(1) { width: 60%; }
#userTable th:nth-child(2), #userTable td:nth-child(2) { width: 25%; }
#userTable th:nth-child(3), #userTable td:nth-child(3) { width: 15%; }

button,
input,
select,
textarea{
  outline: 1.5px solid #555;
}
.description-cell {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name-cell {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}