{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar_subcontent %}
  <a href="{{ url_for('auth.logout') }}" class="btn btn-danger btn-sm">← Logout</a>
{% endblock %}


{% block content %}
<h1 class="mb-4 d-flex justify-content-between align-items-center">
  <span>Welcome to your Portfolio Analyzer, {{ user['username'] }}</span>
  {% if user.is_admin %}
    <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-primary btn-sm">
      Admin Dashboard
    </a>
  {% endif %}
</h1>

<h2>Your Portfolios</h2>

{% if portfolios %}
  <div class="table-responsive">
    <table class="table table-bordered black-bordered-table">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Total Value</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for p in portfolios %}
          <tr>
            <td>{{ p.portfolioname }}</td>
            <td>{{ p.portfoliodescription or '' }}</td>
            <td>{{ p.currencycode }} {{ p.total_value }}</td>
            <td>
              <a href="{{ url_for('main.portfolioview', portfolio_id=p.portfolioid) }}" class="btn btn-primary btn-sm">
                Details
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>You have no portfolios yet.</p>
{% endif %}

{% endblock %}